<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
    <h2>실시간 반포 한강공원 혼잡도</h2>

    <!--    <h3>Example: 20220101</h3>-->
    <!--    <form method="POST" action="/api">-->
    <!--        <input type="text" name="date" th:value="${date}"/>-->
    <!--        <input type="submit" value="CLick"/>-->
    <!--    </form>-->

    <iframe src="https://data.seoul.go.kr/SeoulRtd/?hotspotNm=%EB%B0%98%ED%8F%AC%ED%95%9C%EA%B0%95%EA%B3%B5%EC%9B%90&y=37.5092828889319&x=126.99413230642679"
            width="100%" height="1000px" style="border:1px;" allowfullscreen=""></iframe>


</div>
</body>
</html>