<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
  <h2>실시간 여의도 혼잡도</h2>

  <!--    <h3>Example: 20220101</h3>-->
  <!--    <form method="POST" action="/api">-->
  <!--        <input type="text" name="date" th:value="${date}"/>-->
  <!--        <input type="submit" value="CLick"/>-->
  <!--    </form>-->

  <iframe src="https://data.seoul.go.kr/SeoulRtd/?hotspotNm=%EC%97%AC%EC%9D%98%EB%8F%84&y=37.52477115392614&x=126.92595005035402"
          width="100%" height="1000px" style="border:1px;" allowfullscreen=""></iframe>


</div>
</body>
</html>