<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <h2>DownTown Category</h2>
    <hr>
    <!--                이태원-->
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top"
                 src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EC%9D%B4%ED%83%9C%EC%9B%90%20%EA%B4%80%EA%B4%91%ED%8A%B9%EA%B5%AC.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">이태원 관광특구</h5>

                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/contents/Itaewon">방문하기</a>
                </div>
            </div>
        </div>
    </div>

    <!--                강남역-->
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top"
                 src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EA%B0%95%EB%82%A8%EC%97%AD.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">강남역</h5>

                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="/contents/Gangnam">방문하기</a>
                </div>
            </div>
        </div>
    </div>

    <!--                여의도-->
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top"
                 src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EC%97%AC%EC%9D%98%EB%8F%84.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">여의도</h5>
                    여의도 한강공원<br>
                    The Hyundai & IFC MALL

                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="/contents/Yeouido">방문하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top"
                 src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EC%9E%A0%EC%8B%A4%20%EA%B4%80%EA%B4%91%ED%8A%B9%EA%B5%AC.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">잠실 관광특구</h5>
                    롯데월드 롯데타워
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="/contents/Jamsil">방문하기</a>
                </div>
            </div>
        </div>
    </div>


</html>