<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
    <h2>River & Park Category</h2>
    <hr>

    <!--                반포한강공원-->
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EB%B0%98%ED%8F%AC%ED%95%9C%EA%B0%95%EA%B3%B5%EC%9B%90.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">반포 한강공원</h5>
                    무지개분수<br>
                    세비둥둥섬
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="/contents/Banpo" sec:authorize="isAuthenticated()">방문하기</a>
                </div>
            </div>
        </div>
    </div>
    <!--                뚝섬한강공원-->
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EB%9A%9D%EC%84%AC%ED%95%9C%EA%B0%95%EA%B3%B5%EC%9B%90.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">뚝섬 한강공원</h5>

                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="/contents/Ttukseom" sec:authorize="isAuthenticated()">방문하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EB%A7%9D%EC%9B%90%ED%95%9C%EA%B0%95%EA%B3%B5%EC%9B%90.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">망원 한강공원</h5>

                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="/contents/Mangwon" sec:authorize="isAuthenticated()">방문하기</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="https://data.seoul.go.kr/SeoulRtd/images/hotspot/%EC%84%9C%EC%9A%B8%EC%88%B2%EA%B3%B5%EC%9B%90.jpg"
                 alt="..."/>
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">서울숲 공원</h5>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                            href="/contents/Seoulforest" sec:authorize="isAuthenticated()">방문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>