<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<body>
<div layout:fragment="content">
  <form>

    <table class="table table-dark">
      <thead>
      <tr>
        <th>마이페이지</th>
        <th></th>
      </tr>
      <tr>
        <th>사용자 정보</th>
        <th></th>
      </tr>
      </thead>
      <tr>
        <td>이메일</td>
        <td><div th:text="${#authentication.name}"></div></td>
      </tr>
      <tr>
        <td>권한</td>
        <td><div th:text="${#authentication.getAuthorities()}"></div></td>
      </tr>
    </table>
  </form>

</div>
</body>
</html>